@page "/logout"
@using Shsmg.Pharma.Application.Services
@inject IAuthService AuthService
@inject NavigationManager Navigation

<h3>Signing out</h3>

<p>Please wait while we log you out...</p>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}